@use "../abstracts/" as a;

@font-face {
  font-family: "prism";
  src: url("../prism.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "dancing";
  src: url("../dancingScript.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  // colors
  --clr-dark: hsl(0, 0%, 8%);
  --clr-gray: hsl(0, 0%, 41%);
  --clr-light: hsl(0, 0%, 98%);

  // font-families
  // --ff-sans: "Epilogue", sans-serif;
  --ff-sans: "roboto", sans-serif;
  --ff-prism: "prism", cursive;
  --ff-cursive: "dancing", cursive;

  // font-sizes from ../abstract/type
  // Might need to add more breakpoints
  @each $screen-size, $font-size in a.$type-scale {
    @if $screen-size == small {
      @each $size, $value in $font-size {
        --fs-#{$size}: #{$value};
      }
    } @else {
      @include a.breakpoint(medium) {
        @each $size, $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }
}
